.navbar{
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 100vh;
    /* background-color: rgb(238, 238, 238); */
    /* background-color:aquamarine;  */
    background-color: #127e99;
    /* background-color: #B4B121; */
    align-items: center;
    justify-content: center;
    gap: 20%;
    position: relative;
   
   
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 70%;
    gap: 5%;
    text-decoration: none;
    height: 20%;
    margin: 0px;
    
    
   
}
.btn-log-out{
    background-color: rgba(21, 21, 21, 0.746);
    border-radius: 5px;
    font-size: 1.3rem;
}
h1{
    color: rgb(255, 255, 255);
    
}
button.nav-btn{
    color: rgb(255, 255, 255);
    text-decoration:none ;
    height:20%;
    border: solid 1px white;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    
}
/* @media screen and (max-width: 480px) {
    .navbar{
        display: flex;
        flex-direction: row;
        width: 100vh;
        height: 30vh;
        align-items: center;
        justify-content: center;
        gap: 5%;
        
    }
    .nav{
        display: flex;
        flex-direction: row;
        color: black;
     
    }
  } */