.users-content{
  
  height: 100vh;
  /* background-color: rgb(80, 98, 255); */
  background-color: rgb(215, 215, 215);
  color: rgb(4, 4, 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  
}
.users-wrapper{
  display: grid;
  grid-template-columns: 2fr 20fr;
  background-color: rgb(215, 215, 215);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
ul {
  height: 80vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  padding: 1%;
  background-color: rgb(215, 215, 215)

  
}
footer{
  /* background-color: rgb(0, 255, 85); */
  display: flex;
  flex-direction: row;
  gap:30px;
}
button{
  border-radius: 5px;
  width: 300px;
}
div.input-group.search-bar{
  width:40%;
  height: 55px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(162, 162, 162);
  border-radius: 10px;
  padding-left: 10px;
}


.search-input {
  border: none;
  padding-left: 20px;
  background-color: rgb(215, 215, 215);
  width: 80%;  
  
}

input:focus{
  outline: none;
}

.search-img {
  margin-top: -5px;;
}

.top-bar{
  display: flex;
  flex-direction: row;
  width: 97%;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
  
}
.form-control{
 

}

 
